.button {
    display: inline-block;
    border-radius: 3px;
    padding: 7px 12px;
    border: 1px solid #D5D5D5;
    background-image: linear-gradient(#EEE, #DDD);
    font: 700 13px/18px helvetica, arial;
}

.button--state-success {
    color: #4a993E;
    border-color: #4a993E;
}

.button--state-success:hover {
    color: #fff;
    background: #569E3D linear-gradient(#79D858, #569E3D);
    border-color: #4a993E;
}

.button--state-danger {
    color: #900;
}

.button--state-danger:hover {
    background: #900;
    color: #fff;
}